{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    //按需引入
    // ["es2015", { "modules": false }],
    "stage-2"
  ],
  // "plugins": ["transform-vue-jsx", "transform-runtime"]
  "plugins": ["transform-vue-jsx",
    //按需引入element-ui
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}
